@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.hidden {
    display: none;
}

body{
    font-family:"Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
}

img {
    z-index: -1;
    min-height: 100%;
    min-width: 1090px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#clock{
    margin: 20px;
    font-size: 12rem;
}

#login-form input{
    text-align: center;
    font-size: 4.0rem;
    background-color: transparent;
    color: #fff;
    font-family:"Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}


#login-form input::placeholder{
    color: rgb(223, 223, 223);
    font-family:"Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal; ;
}


#login-form input:focus{
    outline: none;
}

#greeting{
    margin-top:5px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
}

#todo-form{
    margin-top: 0.2rem;
    width: 100%;
}

#todo-form input{
    width: 30rem;
    height: 3rem;
    text-align: center;
    font-size: 2.0rem;
    background-color: rgba(255, 255, 255, 0.733);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all ease 1s;
    font-weight: bold;
    font-family:"Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal; ;
}

#todo-form input::placeholder {
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    font-family:"Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal; ;
}

#todo-form input:focus {
    outline: none;
    background-color: rgba(219, 219, 219, 0.2);
    animation: float 1.5s ease-in-out infinite forwards;
}

#todo-list {
    font-size: 1.8rem;
    margin: 0 auto;
    width: 20rem;
    max-height: 15rem;
    overflow-y: scroll;
    text-align: center;
    margin-top: 1rem;
}
#todo-list::-webkit-scrollbar {
    display: none;
}

#todo-list li {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#todo-list li button {
    color: rgb(255, 255, 255, 0.6);
    transition: all ease 0.5s;
    background-color: rgb(255, 255, 255, 0.1);
    border: none;
}

#todo-list li button:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.9);
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px 0px;
    animation: float 0.5s ease-in-out infinite forwards;
}

#quote{
    font-size: 1.5rem;
    position: absolute;
    top:680px;
}

#weather{
    margin-top: 10px;
    font-size: 1.0rem;
    position: absolute;
    top:700px;
}

